body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url('../../img/DSCF1679.JPG');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

